
/* font-family: Clicker */
@font-face{
    font-family: Clicker;
    src: url('fonts/Clicker_Script/ClickerScript-Regular.ttf');
}

/* font-family: Poppins */
@font-face{
    font-family: Poppins;
    src: url('fonts/Poppins/Poppins-Regular.ttf');
}

/* font-family: Playfair */
@font-face{
    font-family: Playfair;
    src: url('fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
}

/* font-family: Abel */
@font-face{
    font-family: Abel;
    src: url('fonts/Abel/Abel-Regular.ttf');
}

/* font-family: Anton */
@font-face{
    font-family: Anton;
    src: url('fonts/Anton/Anton-Regular.ttf');
}

/* font-family: Abril FatFace */
@font-face{
    font-family: Abril;
    src: url('fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
}

/* font-family: Sansita*/
@font-face{
    font-family: Sansita;
    src: url('fonts/Sansita/Sansita-Regular.ttf');
}

/* font-family: Josefin */
@font-face{
    font-family: Josefin;
    src: url('fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
}

/* font-family: Lexend */
@font-face{
    font-family: Lexend;
    src: url('fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
}

/* font-family: Livvic */
@font-face{
    font-family: Livvic;
    src: url('fonts/Livvic/Livvic-Regular.ttf');
}
